table {
    max-width: 800px;
    min-width: 700px;
    margin: 50px auto 100px auto;
}

table th {
    text-align: center;
    padding: 10px;
}

table td {
    padding: 10px;
}


#project {
    min-width: 80px;
}

#title {
    min-width: 150px;
}

#description {
    min-width: 200px;
}

@media (max-width: 500px) {
    table, #project, #title, #description {
        min-width: 0;
    }
}

a {
    color: yellow;
    font-weight:bold ;
}

.about-me {
    background-color: rgb(64, 63, 73);
    margin: 0px;
    padding: 100px 0px;
}

.about-me h3 {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    margin: 40px 0px 0px 0px;
    word-wrap:normal;
}

.about-me p {
    font-size: 14px;
    text-align: center;
    margin: 10px 0px 20px 0px;
}


.headshot-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;

}

.headshot {
    width: 100%;
    padding: 0px;
}